
<footer id="div3" >
	<div id="aisehi1"></div><div id="aisehi2"></div>
	<div id="copy">
	&copy; Copyright Reserved BML Munjal University
	</div>
 
	

 	
	<div id="contactus">
		
		Contact Us:<br>
		<a href="https://www.facebook.com" >
			<img src="img/fb.PNG" alt="fblgo" id="logo1">
		</a>
		<a href="https://www.twitter.com" >
			<img src="img/twit.PNG" alt="twitlgo" id="logo1">
		</a><br>
		<p>
		E-mail us at:<a href=""> info@infinitygraphics.com</a>
		</p>
		</div>
		
	</footer>
<script src="js/script.js"></script>




	</body>
	</html>