<!doctype html>
<html>
	<head>
		<title>
				Infinity graphics 
		</title>
		<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/loader.css">
	<link rel="shortcut icon"  href="img/logo12.png" />

	
</head>
<body onload="intro()" style="margin:0;" align="center">

<div align ="center">
	<img src="img/giphy.gif" id="loader">
</div>
<div align ="center" style="display: none;" id="gr">
	<p id="gamma">BIENVENUE!</p>
	<p id="gamma1" style="opacity: 0;" >YOU ARE VIEWING THE INFINITY GRAPHICS.....</p>
</div>

<header style="display:none;" id="header">
		<img src="img/logo12.png" id="logo">
		<center><p id="ai"> INFINITY	GRAPHICS</p></center>
	<ul style="list-style-type: none " id="navlist">
		<li ><button id="norm" onclick="scrollpls1()">ABOUT US</button></li>
		<li ><button id="norm" onclick="scrollpls2()">WORK</button></li>
				<li ><button id="norm" onclick="scrollpls8()">BRANDING</button></li>
		<li ><button id="norm" onclick="scrollpls10()">ARTIST</button></li>

		<li ><button id="norm" onclick="scrollpls3()">SERVICES</button></li>
		<li ><button id="norm" onclick="scrollpls4()">QUALIFICATIONS</button></li>
		
		<li ><button id="norm" onclick="scrollpls6()">SUBSCRIPTION</button></li>
                                        <li ><button id="norm" onclick="scrollpls7()">TESTIMONIAL</button></li>
		</ul>
</header>