<%- include ("includes/header") %>


	<div style="display:none;" id="div1">
		<br>
		<br>
		<br>
		<br>
		<br><br>
		<br>
		<center>
			<div id="quote">

				"IT'S NOT ABOUT IDEAS, <BR> BUT ABOUT MAKING IDEAS HAPPEN."<br>
				<img src="img/arrow.png" onclick="scrollpls1()" id="arrow">
			</div>
		</center>
	</div>
	<div style="display:none;" id="about">
		<div id="box">

			<h1 id="top1" style="position:absolute; top:20vh; right:20vw;color:#E75480">An introduction to our
				portflio......
			</h1>
			<p id="tame"></p>
			<img src="img/img1.jpg" align="left" height="300" width="300" alt="PORTFLIO"><br><br>


			<p id="slog" align="justify" style="color: #fff;font-family:sans-serif;font-size: 26px;"> Infinity's
				portfolio website beautifully showcases our vast body of work with a clean, airy interface and features
				some of our widely-referenced quotes.

				Infinity and our multi-disciplinary design studio continue to produce outstanding work to this day, and
				this beautiful web design alone is a compelling case to click that contact button.
				It doesn't get any more clean and simple than design legend Infinity's portfolio website.

				Infinitys' portfolio website uses the famous hand-lettering, pattern design and illustrations to
				showcase the most high profile projects and clients, as well as persuade visitors to contact us.

				We're known for our colorful illustrations, the spirit of which is reflected in our portfolio website.
				The portfolio website uses graphics to create a sense of texture and depth. We use more innovative
				designs that you wouldn't see on a lot of other portfolio websites. We're probably not using Wix or
				WordPress to create these, and seek to create custom websites that are as distinctive as our most famous
				work. </p>

		</div>
		<div id="btt11" align="center" onclick="scrollpls9()">Back To top</div>
	</div>
	<div style="display:none;" id="comingsoon">
		<div id="box">

			<h1 id="top1" style="margin-bottom: 4vh;">
				<font color="#E75480"> The "Famous" Gallery......
			</h1>
			<div id="bda1" align="right">
				<img src="img/download.png" id="al">
				<div id="bda">
					<img src="img/download89.jpg" id="web">
				</div>
			</div>
			<br>
			<p id="aidef" style="margin-top: -10vh; width:100%">
			<div id="about1">
				<div id="box">
					<img src="img/1.jpg" height="250" width="250">
					<img src="img/2.jpg" height="250" width="250">
					<img src="img/3.jpg" height="250" width="250">
					<img src="img/4.jpg" height="250" width="250">
					<img src="img/5.jpg" height="250" width="250"><br>
					<img src="img/6.jpg" height="250" width="250">
					<img src="img/7.jpg" height="250" width="250">
					<img src="img/8.jpg" height="250" width="250">
					<img src="img/9.jpg" height="250" width="250">
					<img src="img/10.jpg" height="250" width="250"><br>
					<img src="img/11.jpg" height="250" width="250">
					<img src="img/12.jpg" height="250" width="250">
					<img src="img/13.jpg" height="250" width="250">
					<img src="img/14.jpg" height="250" width="250">
					<!--<img src="img/images (1).jpg"height="250"width="250"> -->

				</div>
			</div>
			</p>

		</div>
		<div id="btt1" align="center" onclick="scrollpls9()">Back To top</div>
	</div>

	<div style="display:none;" id="catalog">
		<br><br>
		<font size="20" color="#E75480"><b>OUR BRAND PARTNERS</b></font><br><br><br>
		<a href="https://www.asos.com/"><img src="img/logo1.png" height="300" width="500"></a>
		<a
			href="https://www.forever21.in/c/collections/flat-50-off-5977?page=utm_source=google&utm_medium=cpc&utm_campaign=Sok_Search_Brand&utm_adgroup=Brand_Core_Exact&utm_content=576038703968&utm_term=forever_2022&page=1"><img
				src="img/logo2.png" height="300" width="500"></a>
		<a
			href="https://in.sugarcosmetics.com/?utm_source=affiliate&utm_medium=Display&utm_campaign=sok_Click2commission_121"><img
				src="img/logo3.png" height="300" width="500"></a><br>
		<a
			href="https://sephora.nnnow.com/?gclid=CjwKCAjwpqCZBhAbEiwAa7pXebtEy4c9U2Mw0KuXSxzipspCFMQ5I3ox60zx8WE-a6jUV55xJnJl4xoCQrIQAvD_BwE"><img
				src="img/logo4.png" height="300" width="500"></a>
		<a href="https://www.urbandecay.com/"><img src="img/logo5.jpg" height="300" width="500"></a>
		<a href="https://www.rimmellondon.com/en-gb/"><img src="img/logo6.png" height="300" width="500"></a>


		<div id="btt13" align="center" onclick="scrollpls9()">Back To top</div>

	</div>



	<div style="display:none;" id="artist"><br><br><br>
		<font size="25" color="#E75480"><b>
				MEET THE ARTIST<br><br><br></b>
		</font>

		<div class="container">


			<img src="img/model1.jpg" height="250" width="250" style="left:0px;top:0px;">
			<div class="overlay" style="left:0px;bottom: 0px;">
				<div class="text">bella hadid</div>
			</div>

		</div>
		<div class="container" style="top:425px;">

			<img src="img/model2.jpg" height="250" width="250" style="left:250px;top:0px;">
			<div class="overlay" style="left:250px;bottom: 0px;">
				<div class="text">biancs balti</div>
			</div>
		</div>
		<!-- <div>Image 1 Text</div> -->
		<div class="container">

			<img src="img/model3.jpg" height="250" width="250" style="left:500px;top:0px;">
			<div class="overlay" style="left:500px;bottom: 0px;">
				<div class="text">karlie kloss</div>
			</div>
		</div>
		<br>
		<div class="container" style="top:425px;">

			<img src="img/model4.jpg" height="250" width="250" style="left:750px;top:0px;">
			<div class="overlay" style="left:750px;bottom: 0px;">
				<div class="text">paloma elsesser</div>
			</div>
		</div>
		<div class="container">

			<img src="img/model5.jpg" height="250" width="250" style="left:1000px;top:0px;">
			<div class="overlay" style="left:1000px;bottom: 0px;">
				<div class="text">shanina shaik</div>
			</div>
		</div>
		<div class="container" style="top:425px;">

			<img src="img/model6.jpg" height="250" width="250" style="left:1250px;top:0px;">
			<div class="overlay" style="left:1250px;bottom: 0px;">
				<div class="text">Lana Del Rey</div>
			</div>
		</div>




	</div>

	<div id="btt14" align="center" onclick="scrollpls9()">Back To top</div>

	</div>



	<div style="display:none;" id="skyintellex">
		<div id="box">
			<h1 id="top1" style="margin-top: -7vh;">
				<font color="#E75480"><b> We render services such as.......</b>
			</h1>

			<p id="aide" align="left">
				<font color=" #3366ff" size="5"> <u> <b>
							<font color="#ff0066"> PRINT DESIGNS: </font>
						</b></u>
					<font color="white">Infinity will maintain and improve professional quality standards for printed
						products such as labels, packaging, business cards, clothing, outdoor banners, cover designs,
						wall stickers, outdoor hoarding, flyer designs and brochures. our graphic designers handle
						everything from the GUI workspace to the completed product.</font><br><br>
					<u> <b>
							<font color="#ff0066"> LOGO AND BRAND IDENTITY DESIGNS:</font> </u> </b>
					<font color="white">We can help you at every step by creating a symbol that works by satisfying
						customers, media, suppliers and investors. Also, we elevate the brand by perfecting design
						elemnts like layouts, color palette, fonts etc</font><br><br>
					<u> <b>
							<font color="#ff0066">MOTION GRAPHICS: </font></u> </b>
					<font color="white">Be it TV commercials, academic videos or films, our creative team develops
						exceptional designs for exceptional experience.</font><br><br>
					<u> <b>
							<font color="#ff0066">INFOGRAPHICS:</font> </u> </b>
					<font color="white"> we can help educators, scientists, corporate executives, statisticians and
						technical writers combine the visual impact of data presentations, maps and signs in one
						compelling graphic that is precise and clear.</font><br><br>
					<u> <b>
							<font color="#ff0066">OTHERS INCLUDE:</font> </u> </b>
					<font color="white"> Promotional designs, Label designs, Powerpoint presentation and visualization,
						3D graphics, Website designs etc. </ul>
					</font>
			</p>
		</div>
		<div id="btt2" align="center" onclick="scrollpls9()">Back To top</div>
	</div>
	<div style="display:none;" id="railintellex">
		<div id="box">
			<h1 id="top1">
				<font color="#E75480"><b> We have high achievements.......</b>
			</h1>
			<img src="img/download (2).jpg" align="right" width="500" height="300">
			<p id="aidef" align="justify">
				<font color=" white" size="6"> Our design team has a foundation degree, HND or degree in graphic design
					or other art and design-based subject and are also graduates of IIT. They possess the skills-
					Communication, Creativity, IT, Literacy, Problem solving,Technical ability,Time management.

					Many are international lecturers, N.Y. Art Directors Hall of Famer; Lifetime Achievement
					Award-winners, and author of books on design. Infinity has been 'the most highly regarded graphic
					designer of today's generation' by the Daily Telegraph in their obituary in 2006. Infinity has done
					high profile work for big brands like American Express, Topshop and Nike and bands like Disclosure
					and Simian Mobile Disco.
			</p>
		</div>
		<div id="btt3" align="center" onclick="scrollpls9()">Back To top</div>
	</div>

	<div style="display:none;" id="feedback">
		<div id="box">
			<h1 id="top1">
				<font color="#E75480"><b>Subscribe to get the latest updates from our design studio!</b>

					<form name="subForm" action="/abc" onsubmit="return formvalidation()" method="post" id="newform"
						align="center">
						<input type="text" name="name11" placeholder="Your Name" id="name">
						<input type="text" name="name1" placeholder="Your designation/Organization" id="name"><br>
						<font color="#993399"><input type="checkbox" name="product" value="Magazine" id="product"><span
								id="pname">Magazine</span>
							<input type="checkbox" name="product" value="Newsletter" id="product"><span
								id="pname">Online Newsletter</span>
							<br>
						</font>
						<input type="email" name="email" id="email" placeholder="Enter E-mail">
						<select id="country" name="option">
							<option id="country" name="option">India</option>

							<option id="country" name="option">USA</option>
							<option id="country" name="option">UK</option>
							<option id="country" name="option">France</option>
							<option id="country" name="option">Germany</option>
							<option id="country" name="option">Japan</option>
							<option id="country" name="option">UAE</option>
						</select>
						<input type="tel" name="phonenumber" id="pn" maxlength="10" placeholder="Enter Phone No.">


						<input type="Submit" name="Submit" value="Subscribe Now!">
					</form>

		</div>
		<div id="btt12" align="center" onclick="scrollpls9()">Back To top</div>

	</div>
	<div id="ridit" style="display: none;">
		<br><br>
		<font size="18" color="#E75480"><b>
				<center>PLEASE LET US KNOW WHAT YOU THINK
			</b></CENTER><BR></font>
		<form name="subForm2" action="/abcd" onsubmit="return formvalidation2()" method="post" id="newform"
			align="center">
			<input type="text" name="name12" placeholder="Your Name" id="name">
			<input type="email" name="email2" id="email" placeholder="Enter E-mail">
			<BR><BR>
			<TEXTAREA PLACEHOLDER="YOUR MESSAGE HERE" ROWS="6" COLS="75" name="text123"></TEXTAREA><BR>
			<TEXTAREA PLACEHOLDER="Would you recommend for our website? If so, why?" ROWS="6" COLS="75"
				name="text1234"></TEXTAREA><BR>
			<input type="Submit" name="Submit" value="Submit">
			<div id="btt10" align="center" onclick="scrollpls9()">Back To top</div>
	</div>

	<%- include ("includes/footer") %>