<html>

<body>

    <form method="POST" action="/ff">
        name<input type="text" name="id"><br>
        pass<input type="text" name="pass"><br>
        <input type="submit" value="add">
    </form>
</body>

</html>